* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: system-ui !important;
  color: #282828;
  background-image: url(../src/components/images/bg-light.png);
  background-size: cover;

  background-color: rgb(232, 232, 232);
}
